@font-face{
    font-family: SF-Pro;
    src: url(fonts/SFProDisplay-Ultralight.ttf);
    font-weight: normal;
}

@font-face{
    font-family: minimal;
    src: url(fonts/minimal.ttf);
    font-weight: normal;
}

@font-face{
    font-family: SF-Pro;
    src: url(fonts/SFProDisplay-Normal.ttf);
    font-weight: bold;
}

html{
    scroll-behavior: smooth;
}

body{
    display: inline;
    font-family: 'SF-Pro' !important;
    color: gray !important;
    background-color: #E3E3E3 !important;
}

#fade{
    opacity: 0;
}

#header{
    height: 90vh;
    display: grid;
    margin-top: 3%;
    align-content: center !important;
    min-height: 5%;
    text-align: -webkit-center;
}

#header a{
    display: inline;
    color: gray;
}

#header h1{
    font-family: minimal !important;
    font-size: 70px;
}
#header h3{
  font-size: 20px;
}

.fade-effect{
    margin: 1rem;
    display: block;
    border: none;
    color: white;
    height: 1.5rem;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#e3e3e3));
}

.fade-effect2{
    margin: 3rem;
    display: block;
    border: none;
    color: white;
    height: 0.5rem;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#e3e3e3));
}

#promotionalVideo{
    align-content: center;
    display: grid;
    justify-content: center;
    width: 70%;
    border: 0px solid white;
    margin-top: 40px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#menu{
    align-items: center;
    justify-content: center;
    justify-self: center;
    display: inline-flex;
    margin-top: 20px;
    width: 30%;
    min-height: 100px;
}

#triangle{
    height: 3rem;
}

#photos{
    min-height: 100px;
}

#gallery{
    align-content: center;
    display: grid;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

#music{
    height: 2900px;
}

#musicplayer{
    align-content: center;
    margin-top: 20px;
    width: 100%;
}

#beats{
  height: 1400px;
}

#soundtracks{
  height: 600px;
}

#gameSoundtracks{
  height: 1000px;
}


.panel{ margin: 20px; padding:0px; height:34px;}
.audio-panel{border:none !important;}
#playlist,audio{width:80%;}
.active a{color:#fff;text-decoration:none;}
ul{list-style:none; margin:0px; padding:20px;}
li{margin:0px; padding:0px;}
li, a{transition:all 0.5s;}
.list-group-item.active a{ text-decoration:none; color:#fff;}
a{display:block; position:relative; width:100%;}
li a{display:block; text-decoration:none;}
li:hover{background-color:#333;}
li a:hover{text-decoration:none; color: #fff;}
a{color:#fff; text-decoration:none;}
.last{display:none;}

#threeDimensionalModels{
  min-height: 100px;
}

#viewer{
    align-content: center;
    display: grid;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

#contactInfo{
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 500;
    text-align: center;
    min-height: 400px;
}

#contactInfo h4{
  font-size: 20px;
}

@media (max-width: 500px){
    html{
        width: auto;
    }
    body{
        margin: auto;
    }
    #header{
        margin-top: 3%;
        align-content: center !important;
        min-height: 5%;
        text-align: -webkit-center;
    }

    .row img{
        height: 85%;
    }

    #audio {
        margin-top: -8%;
    }

    #music br{
        margin-bottom: 0px;
    }

    #beats div{
        display: inline;
    }

    #soundtracks div{
        display: inline;
    }

    #gameSoundtracks div{
        display: inline;
    }

    #header.container{
        transform: translateX(-3.5%);
    }

    #header h1{
        font-size: 4rem;
    }

    #triangle{
        display: none;
    }

    #contactInfo{
        display: block;
    }
}