@font-face{
    font-family: SF-Pro;
    src: url(fonts/SFProDisplay-Ultralight.ttf);
    font-weight: normal;
}

@font-face{
    font-family: SF-Pro;
    src: url(fonts/SFProDisplay-Normal.ttf);
    font-weight: bold;
}

@font-face{
    font-family: minimal;
    src: url(fonts/minimal.ttf);
    font-weight: normal;
}

html{
    scroll-behavior: smooth;
}

body{
    display: inline;
    font-family: 'SF-Pro' !important;
    color: gray !important;
    background-color: #E3E3E3 !important;
}

#fade{
    opacity: 0;
}

#header{
    height: 93vh;
    display: grid;
    margin-top: 3%;
    align-content: center !important;
    min-height: 5%;
    text-align: -webkit-center;
}

#header a{
    display: inline;
    color: gray;
}

#header h1{
    background: url(fonts/silver.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text; 
    font-family:Catamaran,sans-serif;
    font-size:10em;
    padding:0;
    margin:0;
    text-align:center;
    -webkit-text-stroke: 0px white;
    font-family: minimal !important;
    font-size: 7rem;
}
#header h3{
    font-family: 'SF-Pro' !important;
    font-weight: normal;
    opacity: 50%;
    font-size: 20px;
}

.fade-effect{
    margin: 1rem;
    display: block;
    border: none;
    color: white;
    height: 1.5rem;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#e3e3e3));
}

.fade-effect2{
    margin: 3rem;
    display: block;
    border: none;
    color: white;
    height: 0.1rem;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#fff), to(#e3e3e3));
}

#promotionalVideo{
    align-content: center;
    display: grid;
    justify-content: center;
    width: 70%;
    border: 0px solid white;
    margin: 4rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
}

#menu{
    align-items: center;
    justify-content: center;
    justify-self: center;
    display: inline-flex;
    width: 30%;
    min-height: 100px;
}

#triangle{
    height: 3rem;
}

#photos{
    min-height: 100px;
}

#gallery{
    align-content: center;
    display: grid;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

#music{
    height: 2900px;
}

#musicplayer{
    align-content: center;
    margin-top: 20px;
    width: 100%;
}

#beats{
  height: 1400px;
}

#soundtracks{
  height: 600px;
}

#gameSoundtracks{
  height: 1000px;
}


.panel{ margin: 20px; padding:0px; height:34px;}
.audio-panel{border:none !important;}
#playlist,audio{width:80%;}
.active a{color:#fff;text-decoration:none;}
ul{list-style:none; margin:0px; padding:20px;}
li{margin:0px; padding:0px;}
li, a{transition:all 0.5s;}
.list-group-item.active a{ text-decoration:none; color:#fff;}
a{display:block; position:relative; width:100%;}
li a{display:block; text-decoration:none;}
li:hover{background-color:#333;}
li a:hover{text-decoration:none; color: #fff;}
a{color:#fff; text-decoration:none;}
.last{display:none;}

#threeDimensionalModels{
  min-height: 100px;
}

#viewer{
    align-content: center;
    display: grid;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

#contactInfo{
    
    align-content: center;
    align-items: center;
    justify-content: center;
    display: block;
    font-weight: 500;
    text-align: center;
    min-height: 400px;
}

#contactInfo h4{
  font-size: 20px;
}

#contactInfo p{
    font-size: 0.7rem;
}

#info{
    align-items: center;
    display: inline-flex;
}

@media (max-width: 500px){
    html{
        width: auto;
    }
    body{
        margin: auto;
    }
    #header{
        margin-top: 3%;
        align-content: center !important;
        min-height: 5%;
        text-align: -webkit-center;
    }


    #audio {
        margin-top: -8%;
    }

    #music br{
        margin-bottom: 0px;
    }

    #beats div{
        display: inline;
    }

    #soundtracks div{
        display: inline;
    }

    #gameSoundtracks div{
        display: inline;
    }

    #header.container{
        transform: translateX(-3.5%);
    }

    #header h1{
        font-size: 4rem;
    }

    #triangle{
        display: none;
    }

    #contactInfo{
        display: block;
    }
}